li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #7D70B3;
}

#logo {
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 10px;
}

#heading {
	display: block;
	margin: auto;
	width: 300px;
	padding: 10px;
}

#navbar {
	background: #fff;
	text-align: 70px 0;
}

#navbar-links {
	list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: right;
}

#header {
	background-image: url("C:/Users/David/Documents/Projects/artlifeimages_website/assets/images/photography_banner_homepage.jpg");
	height: 519px;
	width: 1250px;
}


